
$bgShades: [100, 200, 400, 500, 700, 900];
$bgFocusShades: [500];

$txShades: [500, 800];
$textFocusShades: [500];

$bdShades: [500, 800];

$themes: (
	'history': 'blue',
	'ancient-history': 'blue',
	'medieval-history': 'blue',
	'modern-history': 'blue',
	'world-history': 'blue',

	'geography': 'orange',
	'indian-geography': 'orange',
	'world-geography': 'orange',
	'disaster-management': 'orange',

	'ps': 'red',
	'polity': 'red',
	'governance': 'red',
	'constitution': 'red',
	'ir': 'red',

	'econ': 'green',
	'indian-economy': 'green',
	'world-economy': 'green',
	'agriculture': 'green',
	'schemes': 'green',

	'scitech': 'purple',
	'Biology': 'purple',
	'digital': 'purple',
	'science': 'purple',
	'space': 'purple',
	'technology': 'purple',

	'misc': 'fuchsia',
	'security': 'fuchsia',
	'ethics': 'fuchsia',
	'uncategorized': 'zinc'
);

@each $theme, $color in $themes {
	.#{$theme} {
		@each $bgShade in $bgShades {
			.bg-#{$bgShade} {
				@apply bg-#{$color}-#{$bgShade};
			}
		}

		@each $bgFocusShade in $bgFocusShades {
			.focus\:bg-#{$bgFocusShade} {
				@apply focus:bg-#{$color}-#{$bgFocusShade};
			}
		}

		@each $txShade in $txShades {
			.text-#{$txShade} {
				@apply text-#{$color}-#{$txShade};
			}
		}

		@each $textFocusShade in $textFocusShades {
			.focus\:text-#{$textFocusShade} {
				@apply focus:text-#{$color}-#{$textFocusShade};
			}
		}

		@each $bdShade in $bdShades {
			.border-#{$bdShade} {
				@apply border-#{$color}-#{$bdShade};
			}
		}
	}
}
